<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Catalog elevi</title>
		<link href="catalog.css" rel="stylesheet">
		<link href="reset.css" rel="stylesheet">
	</head>
<body>
	<div id="continut">
		<header>
			<img src="imagini/log.jpg" class="ecran_mare" alt="" />
			<img src="imagini/fundal_antet_mobil.png" class="ecran_mic" alt="" /> <!-- initial invizibil -->
			<a href="login.html">Log in</a>
		</header>
	<div id="continut_pag">
		<main>
			<h1 class="italic centrat"><span class="litera italic">A</span>dd grade</h1><br />
			<form name="formular" enctype="multipart/form-data" method="post"
				  action="#" th:action="@{/createGrade}" th:object="${grade}" class="centrat">
				<table class="login centrat">
					<tr>
						<td>Subject :</td>
						<td>
							<select name="subject" th:field="*{subject}" required="required">
								<option value="0">(Choose the subject)</option>
								<option th:each="subject : ${subjects}" th:value="${subject.key}" th:text="${subject.value}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Student :</td>
						<td>
							<select name="student_id" th:field="*{student_id}" required="required">
								<option value="1">(Choose the student)</option>
								<option th:each="student : ${students}" th:value="${student.key}" th:text="${student.value}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Grade :</td>
						<td>
							<select name="grade" th:field="*{grade}" required="required">
								<option value="1">(Choose the grade)</option>
								<option th:each="grade : ${grades}" th:value="${grade}" th:text="${grade}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Grade Date: </td>
						<td><input type="date" name="date" required="required"/></td>
					</tr>
					<tr>
						<td><input type="reset" name="Reset" value="Cancel"></td>
						<td><input type="submit" name="Submit" value="Add"></td>
					</tr>
				</table>
			</form>
		</main>
<nav> 
		<h1 class="italic">Administration</h1>
			<ul>
				<li><a href="adaugarenote.html">Add a grade</a></li>
				<li><a href="adaugareabsente.html">Add an absence</a></li>
			</ul>
			 
			 
		<h1 class="italic">Home</h1>
			<ul>
				<li><a href="indexprofesor.html">Home Page</a></li>
				
			</ul>
		
		
		<h1 class="italic">Opinion</h1>
			<ul>
				<li><a href="testimonialeprofesor.html">Parents Opinion</a></li>
			</ul>	
	</nav>
	</div>
	<footer>
		<p>&nbsp;&nbsp; &copy; SIIT EchipaCatalog2021 </p>
	</footer>
	</div>
</body>
</html>