<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8">
		<title>Catalog elevi</title>
		<link href="catalog.css" rel="stylesheet">
		<link href="reset.css" rel="stylesheet">
	</head>
<body>
	<div id="continut">
		<header>
			<img src="imagini/log.jpg" class="ecran_mare" alt="" />
			<img src="imagini/fundal_antet_mobil.png" class="ecran_mic" alt="" /> <!-- initial invizibil -->
			    <a href="login.html">Log in</a></li>
		</header>
	<div id="continut_pag">
	<main>
		<h1 class="italic centrat"><span class="litera italic">A</span>dd absence</h1><br />
			<form name="formular" enctype="multipart/form-data" method="post"
			action="inserare.php" class="centrat">
			<table class="login centrat">
			<tr>
			<td>Subject :</td>
			<td>
			<select name="combo">
			<option selected value="initial">(Choose the subject)</option>
			<option value="matematica">Matematica</option>
			<option value="biologie">Biologie</option>
			<option value="istorie">Istorie</option>
			</select>
			<select name="combo">
			<option selected value="initial">(Choose the student)</option>
			<option value="matematica">Georgescu Ioan</option>
			<option value="biologie">Pop Paula</option>
			<option value="istorie">Mioara Ana</option>
			</select>
			</td>
			</tr>
			<tr>
			<td>Absence: </td>
			<td><input type="absence" name="absenta" /></td>
			</tr>
			<tr>
			<td><input type="submit" name="Submit" value="Add"></td>
			<td><input type="reset" name="Reset" value="Cancel"></td>
			</tr>
			</table>
			</form>
	</main>
<nav> 
		<h1 class="italic">Administration</h1>
			<ul>
				<li><a href="adaugarenote.html">Add a grade</a></li>
				<li><a href="adaugareabsente.html">Add an absence</a></li>
			</ul>
			 
			 
		<h1 class="italic">Home</h1>
			<ul>
				<li><a href="indexprofesor.html">Home Page</a></li>
				
			</ul>
		
		
		<h1 class="italic">Opinion</h1>
			<ul>
				<li><a href="testimonialeprofesor.html">Parents Opinion</a></li>
			</ul>	
	</nav>
	</div>
	<footer>
		<p>&nbsp;&nbsp; &copy; SIIT EchipaCatalog2021 </p>
	</footer>
	</div>
</body>
</html>