
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Catalog elevi - Adauga Materie</title>
		<link href="catalog.css" rel="stylesheet">
		<link href="reset.css" rel="stylesheet">
	</head>
<body>
	<div id="continut">
		<header>
			<img src="imagini/log.jpg" class="ecran_mare" alt="" />
			<img src="imagini/fundal_antet_mobil.png" class="ecran_mic" alt="" /> <!-- initial invizibil -->
			    <a href="login.html">Log in</a></li>
		</header>
	<div id="continut_pag">
	<main>
		<h1 class="italic centrat"><span class="litera italic">A</span>dd subject</h1><br />
			<form name="formular" enctype="multipart/form-data" method="post"
				  action="#" th:action="@{/createSubject}" th:object="${subject}" class="centrat">
			<table class="login centrat">
				<tr>
					<td><label th:text="'Subject name: '" /></td>
					<td><input type="text" th:field="*{name}" required="required"/></td>
					<p th:each="error: ${#fields.errors('name')}"
					   th:text="${error}">Validation error</p>
				</tr>
				<tr>
					<td>Teacher :</td>
					<td>
						<select name="teacherId" th:field="*{teacherId}" required="required">
							<option value="1">(Choose the teacher)</option>
							<option th:each="teacher : ${teachers}" th:value="${teacher.key}" th:text="${teacher.value}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td><input type="reset" name="Reset" value="Cancel"></td>
					<td><input type="submit" name="Submit" value="Add"></td>
				</tr>
			</table>
			</form>
	</main>
<nav> 
		<h1 class="italic">Administration</h1>
			<ul>
				<li><a href="adaugarenote.html">Add a grade</a></li>
				<li><a href="adaugareabsente.html">Add an absence</a></li>
			</ul>
			 
		<h1 class="italic">Home</h1>
			<ul>
				<li><a href="indexprofesor.html">Home Page</a></li>
			</ul>
		
		<h1 class="italic">Opinion</h1>
			<ul>
				<li><a href="testimonialeprofesor.html">Parents Opinion</a></li>
			</ul>	
	</nav>
	</div>
	<footer>
		<p>&nbsp;&nbsp; &copy; SIIT EchipaCatalog2021 </p>
	</footer>
	</div>
</body>
</html>