<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8">
		<title>Catalog elevi</title>
		<link href="catalog.css" rel="stylesheet">
		<link href="reset.css" rel="stylesheet">
	</head>
<body>
	<div id="continut">
		<header>
			<img src="imagini/log.jpg" class="ecran_mare" alt="" />
			<img src="imagini/fundal_antet_mobil.png" class="ecran_mic" alt="" /> <!-- initial invizibil -->
		
   			<a href="login.html">Log in</a>	
		</header>
		
		
		
	<div id="continut_pag">
	<main>
		<h1 class="italic"><span class="litera italic">A</span>bout us</span></h1>
		<article class="produs">
				<div class="mostra">
				<img src="imagini/n.jpg" />
				</div>
				<div class="descriere">
				<h2>Description</h2>
				<p>The electronic school catalog is the most effective bridge of communication between school and families.
Modern. Fast. Economic.
Increase student achievement and school level, reduce absences and school dropout. Easy to use for teachers, principals, it calculates grade averages, reports absences and automatically compiles mandatory statistics, which are currently made by the school with great effort.
The application sends to the parents mobile phones and by e-mail all the news from school: grades, absences, student behavior, messages and informations, performance charts.
It has integrated the option of Electronic Assessment of students' knowledge. Allows the teacher to create and run grid tests in any subject.
Choose the easiest to use online catalog in Romania!
</p>
			
		</article>

			</main>
	<nav> 
		<h1 class="italic">Administration</h1>
			<ul>
				<li><a href="adaugarenote.html">Add a grade</a></li>
				<li><a href="adaugareabsente.html">Add an absence</a></li>
			</ul>
			 
			 
		<h1 class="italic">Home</h1>
			<ul>
				<li><a href="indexprofesor.html">Home Page</a></li>
				
			</ul>
		
		
		<h1 class="italic">Opinion</h1>
			<ul>
				<li><a href="testimoniale.html">Parents Opinion</a></li>
			</ul>	
	</nav>
	</div>
	<footer>
		<p>&nbsp;&nbsp; &copy; SIIT EchipaCatalog2021 </p>
	</footer>
	</div>
</body>
</html>