<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Catalog elevi</title>
		<link href="catalog.css" rel="stylesheet">
		<link href="reset.css" rel="stylesheet">
	</head>
<body>
	<div id="continut">
		<header>
			<img src="imagini/log.jpg" class="ecran_mare" alt="" />
			<img src="imagini/fundal_antet_mobil.png" class="ecran_mic" alt="" /> <!-- initial invizibil -->
			<a href="index.html">Home</a>
		</header>
	<div id="continut_pag">
	<main>
		<h1 class="italic centrat"><span class="litera
			italic">A</span>uthentication</h1><br />
			<form class="center register-form login-center" name="formular" action="#" th:action="@{/loginUser}" th:object="${user}" method="post">
				<table class="login centrat">
					<tr>
<!--						<td>Nume</td>-->
						<td><label th:text="'Email: '"/></td>
<!--						<td><input type="text" name="numeletau" /></td>-->
						<td><input type="text" th:field="*{email}"/></td>
					</tr>
					<tr>
						<td><label th:text="'Password: '"/></td>
						<td><input type="password" th:field="*{password}"/></td>
					</tr>
					<tr>
						<td colspan="2" class="centrat"><input type="submit"
						name="trimite" value="Verifica" /></td>
					</tr>
				</table>
			</form>
	</main>
	</div>
	<footer>
		<p>&nbsp;&nbsp; &copy; SIIT EchipaCatalog2021  </p>
	</footer>
	</div>
</body>
</html>