<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Catalog Online - Autentificare</title>
</head>
<body>
    <div class="login-forms-container">
        <table>
            <td>
                <tr>
                    <label>Nume utilizator</label>
                </tr>
            </td>
            <td>
                <tr>
                    <label>Parola</label>
                </tr>
            </td>
        </table>
    </div>
</body>
</html>