<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8">
		<title>Catalog elevi</title>
		<link href="catalog.css" rel="stylesheet">
		<link href="reset.css" rel="stylesheet">
	</head>
<body>
	<div id="continut">
		<header>
			<img src="imagini/log.jpg" class="ecran_mare" alt="" />
			<img src="imagini/fundal_antet_mobil.png" class="ecran_mic" alt="" /> <!-- initial invizibil -->
			<a href="index.html">Home</a>
		</header>
	<div id="continut_pag">
	<main>
		<h1 class="italic"><span class="litera italic">N</span>ote</h1>
		&nbsp;&nbsp;
 
		
			<table style="width:100%">
  &nbsp;&nbsp;
 
  <tr>
    <th>Date</th>
    <th>SubjectName</th> 
    <th>Grade</th>
  </tr>
  <tr>
    <td> 2021-05-03 </td>
    <td>Romana</td>
    <td>7</td>
  </tr>
  <tr>
    <td> 2021-05-03 </td>
    <td>Matematica</td>
    <td>8</td>
  </tr>
  <tr>
    <td> 2021-05-03 </td>
    <td>Biologie</td>
    <td>10</td>
  </tr>
</table>
		</article>
	</main>
<nav> 
		<h1 class="italic">Categorii</h1>
			<ul>
				<li><a href="materii.html">Materii</a></li>
				<li><a href="note.html">Note</a></li>
				<li><a href="absente.html">Absente</a></li>
				
			</ul>
		
		
		<h1 class="italic">Administrare</h1>
			<ul>
				<li><a href="login.html">Log in</a></li>
			</ul>
			
		<h1 class="italic">Testimoniale</h1>
			<ul>
				<li><a href="testimoniale.html">Testimoniale parinti</a></li>
			</ul>	
			
			
		<h1 class="italic">Spune-ne opinia ta</h1>
			<ul>
				<li><a href="opinie.html">Carte de oaspeti</a></li>
			</ul>
	</nav>
	</div>
	<footer>
		<p>&nbsp;&nbsp; &copy; SIIT EchipaCatalog2021  </p>
	</footer>
	</div>
</body>
</html>