<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalog elevi</title>
    <link href="catalog.css" rel="stylesheet">
    <link href="reset.css" rel="stylesheet">
</head>
<body>

<textarea>Welcome, student </textarea>
<textarea th:text="${student.firstName}"></textarea>
<textarea th:text="${student.lastName}"></textarea>
<textarea th:text="${student.userId}"></textarea>

<div id="continut">
    <header>
        <img src="imagini/log.jpg" class="ecran_mare" alt=""/>
        <img src="imagini/fundal_antet_mobil.png" class="ecran_mic" alt=""/> <!-- initial invizibil -->
        <a href="login.html">Log in</a>
    </header>
    <div id="continut_pag">
        <main>
            <h1 class="italic"><span class="litera italic">G</span>rades</h1>
            &nbsp;&nbsp;


            <table style="width:100%">


                <tr>
                    <th>Date</th>
                    <th>Grade</th>
                    <th>Subject Name</th>
                    <th>Student Name</th>
                </tr>
<!--                <tr th:each="grade: ${grades}">-->
                <tr>
                    <td th:text="${grade.date}"/>
                    <td th:text="${grade.grade}"/>
                    <td th:text="${grade.subject}"/>
                    <td th:text="${grade.studentName}"/>
                </tr>
            </table>
            </article>
        </main>
        <nav>
            <h1 class="italic">Home</h1>
            <ul>
                <li><a href="indexelev.html">Home Page</a></li>

            </ul>


            <h1 class="italic">Cathegories</h1>
            <ul>
                <li><a href="materii.html">Subjects</a></li>
                <li><a th:href="@{getGrades}">Grades</a></li>
                <li><a th:href="@{getAbsences}">Absences</a></li>
            </ul>


            <h1 class="italic">Opinion</h1>
            <ul>
                <li><a href="testimonialeelev.html">Parents Opinion</a></li>
            </ul>
        </nav>
    </div>
    <footer>
        <p>&nbsp;&nbsp; &copy; SIIT EchipaCatalog2021 </p>
    </footer>
</div>
</body>
</html>