#continut {
	max-width: 1000px;
	width: 100%;
	background-color:#F7F8E0;
	margin: 0 auto;
	position: relative;
}
#continut_pag {
	width: 100%;
	background-color:#F7F8E0;
	border-top: 2px solid #00543C;
	margin: 0 auto;
	overflow: hidden;
}
header {
	width: 100%;
	position: relative;
	overflow: hidden;
}
header a:link, header a:visited {
	display: block;
	position: absolute;
	bottom: 15%;
	right: 50%;
	color: #0B3B0B;
	font-weight: bold;
}
main {
	float: left;
	width: 70%;
	background-color:#F7F8E0;
}
main .imagini_mici {
	padding-top: 20px;
}
main .buchet_mic {
	width: 25%;
	padding: 2px;
	float: left;
}
nav {
	float: right;
	width: 27%;
	background: #F7F8E0;
}
nav {
	float: right;
	width: 27%;
	background:#F7F8E0;
}
nav a:link, nav a:visited {
	text-decoration: none;
	color: #0B3B0B;
}
nav a:hover {
	text-decoration: underline;
	color: #0B3B0B;
}
a:link, a:visited {
	color: #0B3B0B;
}
a:hover {
	text-decoration: none;
}
h1, h2 {
	text-transform: lowercase;
	font-weight: bold;
}
h1 {
	font-size: 3rem;
	padding: 2.5rem 1rem 1rem 1rem;
	color: #0B3B0B;
	text-transform:capitalize; 
}
h2 {
	font-size: 1.5rem;
	color: #0B3B0B;
	text-transform:capitalize;
	}
p {
	font-size: 0.875rem;
	line-height: 1rem;
	color: #FF44E2;
}
img {
	border-style:none;
	max-width: 100%;
	height: auto;
}
.italic {
	font-style: italic;
}
.litera {
	font-size: 4rem;
	color: #0B3B0B;
	font-family: "Times New Roman", Times, serif;
}
article.produs {
	padding: 1rem;
	text-align: center;
}
.autor {
	border-top: 1px solid #00543C;
	margin: 0.8rem 0 0.8rem 0;
	padding-top: 0.2rem;
	font-size: 0.65rem;
	color: #00543C;
}
.produs h1{
	padding: 1.3rem 0 0 0;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: none;
	color: #0B3B0B;
}
.produs h2 {
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem;
	margin: 2em 0 1em 0;
	background: #FFFFFF url(imagini/img3.gif) repeat-x;
}
.mostra {
	float: left;
	width: 45%;
}
.mostra img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.descriere {
	float: right;
	width: 50%;
	padding: 1rem;
	text-align: justify;
	color: #FFFFFF;
}
.descriere h2 {
	font-weight: bold;
	font-size: 1rem;
	padding: 0.5rem;
	margin: 2em 0 1em 0;
	background-color: #00543C;
	color:  #FFFFFF;
}
.descriere p {
	font-size: 0.875rem;
	color: #000;
	line-height: 1.3rem;
	text-align:justify;
}
.autor {
	border-top: 1px solid #00543C;
	margin: 0.8rem 0 0.8rem 0;
	padding-top: 0.2rem;
	font-size: 0.65rem;
	color: #00543C;
}
.recomandari {
	clear: both;
	padding: 0.5rem 0;
	background: #FFFFFF url(imagini/b1.jpg) repeat-x;
	border-top: 1px solid #00543C;
	font-size: 1rem;
}
nav ul {
	margin-left: 1rem;
}
nav li{
	padding: 0.4rem;
	background-image: url('imagini/b2.jpg');
	background-repeat: repeat-x;
	color: #0B3B0B;
	//background-position: left bottom; /* cand scrie pe doua
	linii se compl. cu culoare sus */
}
nav h1 {
	margin: 2rem 0 0 0;
	padding: 0.6rem 0.5rem 0.5rem 0.5rem;
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #00543C;
	letter-spacing: normal;
	font-size: 1rem;
	color: #FFFFFF;;
}

footer {
	max-width: 1000px;
	height: 1.8rem;
	background-color: #00543C;
	letter-spacing: normal;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
}
footer p {
	padding: 0.5rem 0 0.5rem 0;
	font-size: 0.8rem;
	letter-spacing: normal;
	text-align: center;
	color: #FFFFFF;
}
.login table, .login td, .login th {
	border: 1px solid DarkGray;
	padding:15px;
}
.centrat {
	margin: 0 auto;
	text-align: center;
}
main .imagini_mici {
	padding-top: 20px;
}
main .draperii_mici {
	width: 25%;
	padding: 2px;
	float: left;
}